.col{width: 8.33%;}
.col{width: 16.66%;}
.col{width: 25%;}
.col{width: 33.33%;}
.col{width: 41.66%;}
.col{width: 50%;}
.col{width: 58.33%;}
.col{width: 66.66%;}
.col{width: 75%;}
.col{width: 83.33%;}
.col{width: 91.66%;}
.col{width: 100%;}

[class*="col-"]{
	border: 1px solid blue;
	float: left;
	box-sizing: border-box;
}

.row:after{
	content: ' ';
	clear: both;
	display: block;
}

.wrapper{
	width: 80%;
	height: auto;
	margin: 0 auto;
}


.header-height{height: 200px;}
.menu-height{height: 50px;}
.content-height{height: 600px;}
.big-footer-height{height: 250px;}
.footer-height{height: 30px;}